Adafruit-Blinka==6.16.0
adafruit-blinka-displayio==0.8.0
adafruit-circuitpython-adafruitio==5.6.0
adafruit-circuitpython-bitmap-font==1.5.3
adafruit-circuitpython-busdevice==5.1.1
adafruit-circuitpython-datetime==1.1.5
adafruit-circuitpython-display-shapes==2.4.1
adafruit-circuitpython-display-text==2.21.2
adafruit-circuitpython-displayio-layout==1.16.0
adafruit-circuitpython-esp32spi==3.5.13
adafruit-circuitpython-fakerequests==1.0.5
adafruit-circuitpython-imageload==1.15.3
adafruit-circuitpython-neopixel==6.2.3
adafruit-circuitpython-oauth2==1.0.5
adafruit-circuitpython-pixelbuf==1.1.1
adafruit-circuitpython-pm25==2.1.6
adafruit-circuitpython-portalbase==1.10.0
adafruit-circuitpython-requests==1.10.2
adafruit-circuitpython-sht31d==2.3.7
adafruit-circuitpython-simpleio==3.0.2
Adafruit-PlatformDetect==3.18.0
Adafruit-PureIO==1.1.9
circuitpython-stubs==7.1.0b3
adafruit_circuitpython-lc709203f==2.2.0
numpy==1.22.0
Pillow==10.0.1
